{% extends 'core/base.html' %}
{% load static %}
{% load sass_tags %}

{% block content %}
<h1>Image Detail View</h1>

<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="{{ image.image.url }}" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title"><a href='{% url "segmentation:image_detail" image.dataset.id image.id %}'>{{image.filename}}</a></h5>
    <p>Created at: {{ image.created }}</p>
    <p>Updated at: {{ image.updated }}</p>
  </div>
</div>

{% if image.mask %}
<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="{{ image.mask.mask.url }}" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title"><a href='{% url "segmentation:image_detail" image.dataset.id image.id %}'>{{image.mask.filename}}</a></h5>
    <p>Created at: {{ image.mask.created }}</p>
    <p>Updated at: {{ image.mask.updated }}</p>
  </div>
</div>
{% else %}
  <p>No mask available</p>
{% endif %}

{% if image.dataset %}is_anonymous
  <a href='{% url "segmentation:dataset_detail" image.dataset.id %}'>Back to dataset</a>
{% else %}
  <p>No dataset available</p>
{% endif %}

{% if user.is_authenticated %}
<a href='{% url "segmentation:image_delete" image.dataset.id image.id %}'>Delete</a>
{% else %}
<p>You need to be logged in to update or delete an image</p>
{% endif %}

{% endblock content %}